<script lang="ts">
	import { onMount } from "svelte";
	import Router from "./Router/Router.svelte";
	import Routes from "./Routes";

	let app: HTMLDivElement;
	let router: Router;

	onMount(() => {
		router = new Router({
			target: app,
			props: { routes: Routes },
		});
	});
</script>

<div id="app" bind:this={app} class="vertical" />

<style>
	#app {
		height: 100%;
		background: #f2f2f2;
	}
</style>
